body {
    background-color: darkturquoise;
    font-family: initial;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}